// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: "someAnimal";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/someAnimal/Some_Animal.ttf");
}

@font-face {
  font-family: "market";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/farm_to_market/Farm\ to\ Market.ttf");
}

@font-face {
  font-family: "duality";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/duality/duality.ttf");
}
/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #c39c80; 
  --ion-color-primary-rgb: 195,156,128; 
  --ion-color-primary-contrast: #000000; 
  --ion-color-primary-contrast-rgb: 0,0,0; 
  --ion-color-primary-shade: #ac8971; 
  --ion-color-primary-tint: #c9a68d; 
  --ion-color-secondary: #80c3be; 
  --ion-color-secondary-rgb: 128,195,190; 
  --ion-color-secondary-contrast: #000000; 
  --ion-color-secondary-contrast-rgb: 0,0,0; 
  --ion-color-secondary-shade: #71aca7; 
  --ion-color-secondary-tint: #8dc9c5; 
  --ion-color-tertiary: #8086c3; 
  --ion-color-tertiary-rgb: 128,134,195; 
  --ion-color-tertiary-contrast: #000000; 
  --ion-color-tertiary-contrast-rgb: 0,0,0; 
  --ion-color-tertiary-shade: #7176ac; 
  --ion-color-tertiary-tint: #8d92c9; 
  --ion-color-success: #80c39c; 
  --ion-color-success-rgb: 128,195,156; 
  --ion-color-success-contrast: #000000; 
  --ion-color-success-contrast-rgb: 0,0,0; 
  --ion-color-success-shade: #71ac89; 
  --ion-color-success-tint: #8dc9a6;
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0; 
  --ion-color-warning-contrast: #000000; 
  --ion-color-warning-contrast-rgb: 0,0,0; 
  --ion-color-warning-shade: #e0b500; 
  --ion-color-warning-tint: #ffd31a; 
  --ion-color-danger: #c38086; 
  --ion-color-danger-rgb: 195,128,134; 
  --ion-color-danger-contrast: #000000; 
  --ion-color-danger-contrast-rgb: 0,0,0; 
  --ion-color-danger-shade: #ac7176; 
  --ion-color-danger-tint: #c98d92; 
  --ion-color-dark: #140e09; 
  --ion-color-dark-rgb: 20,14,9; 
  --ion-color-dark-contrast: #ffffff; 
  --ion-color-dark-contrast-rgb: 255,255,255; 
  --ion-color-dark-shade: #120c08; 
  --ion-color-dark-tint: #2c2622; 
  --ion-color-medium: #d6bba8; 
  --ion-color-medium-rgb: 214,187,168; 
  --ion-color-medium-contrast: #000000; 
  --ion-color-medium-contrast-rgb: 0,0,0; 
  --ion-color-medium-shade: #bca594; 
  --ion-color-medium-tint: #dac2b1; 
  --ion-color-light: #fcf9f8; 
  --ion-color-light-rgb: 252,249,248; 
  --ion-color-light-contrast: #000000; 
  --ion-color-light-contrast-rgb: 0,0,0; 
  --ion-color-light-shade: #dedbda; 
  --ion-color-light-tint: #fcfaf9; 

  /* --ion-font-family: "someAnimal"; */
  --ion-font-family: "duality";

  --ion-color-marroncito: #bc9171;
  --ion-color-marroncito-rgb: 188,145,113;
  --ion-color-marroncito-contrast: #000000;
  --ion-color-marroncito-contrast-rgb: 0,0,0;
  --ion-color-marroncito-shade: #a58063;
  --ion-color-marroncito-tint: #c39c7f;
  
}

.ion-color-marroncito {
  --ion-color-base: var(--ion-color-marroncito);
  --ion-color-base-rgb: var(--ion-color-marroncito-rgb);
  --ion-color-contrast: var(--ion-color-marroncito-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marroncito-contrast-rgb);
  --ion-color-shade: var(--ion-color-marroncito-shade);
  --ion-color-tint: var(--ion-color-marroncito-tint);
}